body{
    background-color: rgb(54, 69, 59);
}

.center{
    margin: auto;
    width: 50%;
}

.text-center{
    text-align: center;
}

.table-team-center{
    text-align: center;
    align-content: center;
    width: auto;
    margin: left 10%;;
}

.table-center{
    text-align: center;
    margin-left: 30%;
    width: 40%;
}

.title{
    font: 30px sans-serif;
    color: rgb(213, 172, 78);
}

.text-minimise{
    color: rgb(213, 172, 78);
    width:max-content;
    text-align: center;
    margin:auto;
}

.text{
    color:rgb(213, 172, 78);
}

.input{
    background-color: rgb(15, 8, 75);
    color: rgb(213, 172, 78);
    width: 420px;
    height: 25px;
}

.input2{
    background-color: rgb(15, 8, 75);
    color: rgb(213, 172, 78);
    width: fit-content;
    height: 25px;
}

.inputtime{
    background-color: rgb(15, 8, 75);
    color: rgb(213, 172, 78);
    width: fit-content;
    height: 25px;
}

.submit{
    background-color: rgb(15, 8, 75);
    color:rgb(213, 172, 78);
    border:2px;
}

.placeholder{
    background-color: rgb(54, 69, 59);
    color: rgb(213, 172, 78);
}

::placeholder{
    color:rgb(213, 172, 78);
    opacity: 1;
}

:-ms-input-placeholder{
    color:rgb(213, 172, 78);
}

::-ms-input-placeholder{
    color:rgb(213, 172, 78);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.tablecolor{
    background-color: rgb(54, 69, 59);
}

/*This code has been inspired by https://stackoverflow.com/questions/33878539/is-there-an-html-entity-for-an-info-icon*/

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.span-info {
    content: "\2139";
}